
<header>
<h1>DogeBit</h1>
</header>



<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Long URL</th> 
    <th>Shortened URL</th>
    <th>Number of times Visited</th>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>


<foot>

</foot>
