<h1>Welcome to Sinatra!</h1>
<p>Hello, world!</p>

<h2>We are here to help!</h2>
<form action="/:short_url" method="get">
	Enter URL:
	<input type ="text" name ="short_url">
	<input type="submit" value="Submit">
</form>