<h1>Welcome to Sinatra!</h1>
<p>See Me in views/static/index.html.erb</p>

<h2>File Description File Location</h2> 
<p>This view /app/views/index.erb</p>
<p>This layout file</p>
<p>The current controller</p>