
<header>

<a href="http://localhost:9393/">
<img src="http://apk-dl.com/detail/image/com.jjapp.spacedogeadventure-w250.png" alt="Doge Icon" style="width:80px;height:80px;">
</a>

<h1>Welcome to DogeBit</h1>

</header>

<h2> Your friendly Doge to make 'UR L'ife simpler </h2>

<nav>

<form action="/urls" method="post">
	<input type ="text" name ="long_url" placeholder="Invalid Link" id="changeinputbox">
	<input type="submit" value="Shorten!" id="addfont">
</form>

</nav>

<foot>


<form action="http://localhost:9393/list" >
    <input type="submit" value="List!" id="changesizeforlist">
</form>


</foot>
