<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
	<script type="text/javascript" src="/js/application.js"></script>
</head>
<body class="monospace bubs">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid green">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Bitchly</a>
	    </div>
	    <!-- <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li>
	    </ul> -->
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="#"><span class="glyphicon glyphicon-user green"></span> Sign Up</a></li>
	      <li><a href="#"><span class="glyphicon glyphicon-log-in green"></span> Login</a></li>
	    </ul>
	  </div>
	</nav>
	<div class="container-fluid center bubs">
		<div id="black" class="center">
			<h1 class="green">Bitchly</h1>
			<!-- <p class="green">See Me in views/static/index.html.erb</p> -->
			<p class="green">Let's shorten It</p>
			<form class="green" action="/urls" method="post">
				Enter URL:
				<input type="text" name="long_url" placeholder="Bitch It" class="center">
				<input type="submit" name="Submit" class="button" id="submitting">
			</form>
		</div>
	</div>

	<!-- table here  -->
	<table id="black2" class >
		<tr>
			<th class="center">Original URL</th>
			<th class="center">Shortened URL</th>
			<th class="center">Click Count</th>
		</tr>
		<% Url.all.each do |x| %>
		<tr>
			<td class="padleft"><%= x.ori_url%></td>
			<td class="center underline"><a class="green" href= <%= x.short_url%> target="_blank"> http://bitchly.<%= x.short_url%></a></td> 
			<td class="center"><%= x.click_count%></td>
		</tr>
		<%end%>
	</table>

	<!-- <p> <%puts "Original URL".ljust(15) + "Shortened URL"%> </p> -->
	<!-- p><% Url.all.each do |x| %>
			<%puts "#{x.ori_url}".ljust(15) + "#{x.short_url}"%>
		<%end%></p> -->

	<!-- Url.all.each do  -->
	<!-- <p>Your shorten url is: <%#= url.short_url %></p> -->
</body>
</html>




