<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/application.css">
  <script src="/js/application.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <title>See-ly v1.0</title>
</head>
<body>
  <img src="img/see-ly-2.jpg" width="234" height="142">
  <%= yield %>
</body>
<footer>

</footer>
</html>